  .indexbody{
    background-image: linear-gradient(rgb(43, 6, 43), rgb(100, 8, 100), rgb(43, 6, 43));
    background-size: auto;
    background-repeat: repeat;
  }
  .mainbody{
    background-image: repeating-linear-gradient(rgb(65, 8, 65), rgb(100, 8, 100), rgb(65, 8, 65));
    background-size: cover;
    background-repeat: no-repeat;
  }
  main {
    background-color: rgba(255, 255, 255, 0.874);
    margin-top: 2%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 0.05rem;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
  }
  .titulo1{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif, Light;
    color: rgb(252, 241, 241);
    box-sizing: 20%;
    display: inline-block;
    transition: 500ms linear;
    font-size: 100px;
    text-shadow: 0px 2px 0px rgba(49, 47, 47, 0.308);
  }
  .titulo1:hover{
    transform: scaleY(1.0);
    transform: scaleX(1.02);
    text-transform: uppercase;
  }

  a{
    text-decoration: none;
    text-align:justify;
  }
  a :link{
    text-decoration: none;
  }
  a:visited { 
    color: none;		
    text-decoration:none;
  }    	
  a:active {  				
    color: #FFDF36 ;
    text-decoration:none; 
  }    	
  a:hover {  			
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 500ms linear;;
    color: #FFDF36;
    text-decoration:none;  	
    text-shadow: 4px 0px 5px 0px rgba(15, 15, 15, 0.75);
  }  

  .menu {
    width: 350px;
    height: 100%;
    background-color: #131111f5;
    position: fixed;
    top: 0;
    left: -350px;
    transition: left 0.3s ease;
    position: absolute;
  }
  .menu.open {
    left: 0;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
  }
  ul li {
    margin-top: 13.5%;
    margin-bottom: 11.5%;
    margin-left: 5%;
    list-style: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  #drawer{
    margin:15px;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    border-style: none;
    background-color: rgba(7, 6, 6, 0.744);
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }
  .iconmenu{
    margin-left: 15.9%; 
    margin-top:10%;
    margin-bottom: 5%;
    height: 7%;
    width: 65%;
    background-color: white;
  }
  #drawer2{
    margin-left: 15%;
    margin-top: 15%;
    height: 45px;
    width: 70px;
    border-radius: 5%;
    border-style: none;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }

  .texto1 {
    font-size: 20px;
    position: absolute;
    text-align: justify;
    box-sizing: 0;
    display: block;
    color: rgb(14, 14, 14);
    text-shadow: 0px 2px 0px rgba(49, 47, 47, 0.308);
  }
  
  .texto1 {
    animation-duration: 1.8s;
    animation-name: slidein;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Light;
    font-size: 30px;
  }
  .texto2 {
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 20px;
    position: auto;
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    display: inline-block;
    color: rgb(14, 14, 14);
  }
  @keyframes slidein {
    from {
      margin-left: -38%;
    }
  
    to {
      margin-left: 0%;
    }
  }
  
  .imagem_menu{
    width: 100%;
    margin-top: 32%;
  }
  .imagem_menu img{
    width: 6%;
    margin-left:90%;
  }
  .imagem_menu img:hover{
    transform: scale(1.1);
    transition: 550ms linear;
  }
  p {
    text-align: justify;
  }
  .h2-titulo {
    text-align: justify;
    font-size: larger;
    color: black;
    box-sizing: 20%;
  }
/* #574CFC cor contrária ao amarelo (#FFDF36) /