ul {
    display:flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
}
ul li {
    color: #000000;
    display: inline-block;
    place-content: center;
    margin-left: 10%;
    text-decoration: none;
}
.navdiv {
    background-color:#FFDF36;
}
li {
    padding: 0px;
    list-style: none;
  }
  
  a {
    cursor: pointer;
    color: #38C;
  }
  
  .intern {
    transition: all 0.52s;
    height: 0px;
    overflow: hidden;
  }
  
  .intern li {
    transition: all 0.52s;
    margin-left: 2px;
  }
  