/* HOME PAGE CSS!! */

p{
  font-size: 30px;
  font-family: Noto Sans, sans-serif;
  text-align: justify;
}
.navbar-expand-lg{
  background-color: #161616;
}
.nav-link{
  font-size: 35px;
}
.navbar-brand{
  font-size: 50px; 
}
#continua-header{
  background-color: #161616;
}
#header-h1{
  color: white; 
  font-family: Noto Sans, sans-serif; 
  font-size: 150px;
}
#header-h2{
  color: white;
  font-family: Noto Sans, sans-serif;
  font-size: 70px;
}
.span-ref{
  color: #929292;
}
.span-verde{
  color: #34AD29;
}
.span-roxo{
  color: #481589;
}
.span-amarelo{
  color:yellow;
}
#transicao-main{
  background-image: linear-gradient(#929292, #c0c0c0, rgb(255, 255, 255));
}

/* CADASTRO CSS */

.cadastro-corpo{
  background-image:linear-gradient(#050505, #0c0c0c, #050505);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-flow: column;
}
.form-group {
  position: relative;
  margin: 12px, 0;
}
.form-group input {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: #acacac solid 2px;
  background-color: transparent;
  color: #eee;
  transition: 0.15s all ease;
}
.form-group input:focus {
  border-color: #eee;
}
.form-group input::placeholder {
  color: transparent;
}
.form-group .form-label {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: #acacac;
  pointer-events: none;
  transition: 0,15s all ease;
}
.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) +
.form-label {
  transform: translate(5px, -22px);
  background-color: #0c0c0c;
  font-size: 14px;
  color: #acacac;
}
h4 {
  font-size: 16px;
  font-family: Noto Sans, sans-serif;
}
#h3-cadastro {
  font-size: 25px;
  font-family: Noto Sans, sans-serif;
  color: #481589;
}
#link-cadastro-inicio {
  text-decoration: none;
  color: #acacac;
}
#link-cadastro-inicio:active {
  text-decoration: none;
}
#link-cadastro-inicio:hover {
  text-decoration: none;
}
.naoSelecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
}